body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: monospace;
}

#terminal {
    width: 80%;
    height: 80%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#output {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

#input-line {
    display: flex;
}

.prompt {
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

#input {
    background: none;
    border: none;
    color: white;
    outline: none;
    width: 100%;
    caret-color: white;
}
